<!DOCTYPE html>

<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="styles/app.css">
    <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://use.fontawesome.com/75dc7ed32d.js"></script>-->
</head>
<body  ng-app="CalcApp">
    <h1> Calculator </h1>
    <div class="list" ng-controller="calcController">
        <div class="item">


            <!-- box to display the answers -->
            <div class="display">
                <p class="display-output">

                    {{ calculator.currentDisplay }}

                </p>
            </div>

            <!-- container to hold all buttons -->
            <div class="keys">
                <ul>
                    <li><input type="button" value="7" ng-click="numBtnClicked(7)"/></li>
                    <li><input type="button" value="8" ng-click="numBtnClicked(8)"></li>
                    <li><input type="button" value="9" ng-click="numBtnClicked(9)"/></li>
                    <button ng-click="operationButtonClicked('+')"><b>+</b></button>
                </ul>
                <ul>
                    <li><input type="button" value="4" ng-click="numBtnClicked(4)"/></li>
                    <li><input type="button" value="5" ng-click="numBtnClicked(5)"/></li>
                    <li><input type="button" value="6" ng-click="numBtnClicked(6)"/></li>
                    <button ng-click="operationButtonClicked('-')"><b>-</b></button>
                </ul>
                <ul>
                    <li><input type="button" value="1" ng-click="numBtnClicked(1)"/></li>
                    <li><input type="button" value="2" ng-click="numBtnClicked(2)"/></li>
                    <li><input type="button" value="3" ng-click="numBtnClicked(3)"/></li>
                    <button ng-click="operationButtonClicked('*')"><b>*</b></button>
                </ul>
                <ul>
                    <li><input type="button" value="Clr" ng-click="resetClicked()"/></li>
                    <button class="equals"><b>=</b></button>
                    <button ng-click="operationButtonClicked('/')"><b>/</b></button>
                </ul>

            </div>
        </div>
    </div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="components/version/version.js"></script>
  <script type="text/javascript" src="components/version/version-directive.js"></script>
  <script type="text/javascript" src="components/version/interpolate-filter.js"></script>
</body>
</html>
